
  @import url(https://fonts.googleapis.com/css?family=Anaheim);

  *{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
      box-sizing: border-box;
  }
  *:before,
  *:after{
      box-sizing: border-box;
  }
  /* html,
  body{
      min-height: 80%;
  } */
  
  .highest{
      min-height: 50%;
      background: rgb(99,199,221);
  background: linear-gradient(59deg, rgba(99,199,221,1) 0%, rgba(59,203,158,1) 50%, rgba(0,242,150,1) 100%);
  
  }
  
  
  h1 {
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      font-size: 50px;
      padding: 50px 50px;
      text-align: center;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
  }
      .elegantshadow {
        color: #394680;
        background-color: #e8f7f1;
        letter-spacing: .15em;
        text-shadow: 
          1px -1px 0 #366d8d, 
          -1px 2px 1px #359c7a, 
          -2px 4px 1px #47c083, 
          -3px 6px 1px #cfc0c0, 
          -4px 8px 1px #d3c0c0, 
          -5px 10px 1px #4880ca, 
          -6px 12px 1px #35ac7e, 
          -7px 14px 1px #2e8196, 
          -8px 16px 1px #44967a, 
          -9px 18px 1px #2f9bb6, 
          -10px 20px 1px #949392, 
          -11px 22px 1px #999897, 
          -12px 24px 1px #9e9c9c, 
          -13px 26px 1px #a3a1a1, 
          -14px 28px 1px #a8a6a6, 
          -15px 30px 1px #adabab, 
          -16px 32px 1px #6cd6b3, 
          -17px 34px 1px #b7b6b5, 
          -18px 36px 1px #bcbbba, 
          -19px 38px 1px #c1bfbf, 
          -20px 40px 1px #c6c4c4, 
          -21px 42px 1px #cbc9c8, 
          -22px 44px 1px #cfcdcd, 
          -23px 46px 1px #d4d2d1, 
          -24px 48px 1px #d8d6d5, 
          -25px 50px 1px #dbdad9, 
          -26px 52px 1px #dfdddc, 
          -27px 54px 1px #e2e0df, 
          -28px 56px 1px #e4e3e2;
      }
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  .container{
      margin: 4% auto;
      width: 210px;
      height: 180px;
      position: relative;
      perspective: 1500px;
  }
  #carousel{
      width: 90%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 25s infinite linear;
  }
  #carousel:hover{
      animation-play-state: paused;
  }
  #carousel figure{
      display: block;
      position: absolute;
      width: 195px;
      height: 160px;
      left: 10px;
      top: 10px;
      background: rgb(111, 168, 168);
      overflow: hidden;
      border: solid 5px rgb(17, 120, 146);
  }
  #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
  #carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
  #carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
  #carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
  #carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
  #carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
  #carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
  #carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
  #carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
  
  img{
      -webkit-filter: contrast(1);
      cursor: pointer;
      transition: all .5s ease;
  }
  img:hover{
      -webkit-filter:contrast(1);
    transform: scale(1.2,1.2);
  }
  
  @keyframes rotation{
      from{
          transform: rotateY(0deg);
      }
      to{
          transform: rotateY(360deg);
      }
  }

  .logo-gif{

    justify-content: center;
    text-align: center;
    margin-top:10%;
    margin-bottom: 10%;
  }

  .logo-gif img{
      width:75%;
      height:400px;
  }